  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f5f0;
    color: #2e2e2e;
    line-height: 1.6;
  }

  .custom-link {
    color: #f4e04d !important;
    text-decoration: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-left: 30px;
  }

  .custom-link:hover {
    color: #ffcc00 !important;
    text-shadow: 0 0 3px #ffcc00;
  }

  .navbar-dark .navbar-toggler-icon {
    filter: brightness(200%);
  }

  .search-bar {
    max-width: 400px;
  }

  .search-input {
    flex: 1;
  }

  .logo {
    height: 100px;
    width: auto;
  }

.contacto-title{
    font-family: "Righteous";
    font-size: 40px;
}

.contacto-subtitle{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.contact-form {
    padding: 30px;
    background-color: #fffbea;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
  }

  .contact-form label {
    font-weight: bold;
  }

  .footer-vintage {
    background-color: #1c1c1c;
    color: #f4f1e9;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    font-size: 14px;
  }

  .marca-footer {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #f4e04d;
    margin-bottom: 5px;
  }

  .slogan-footer {
    font-style: italic;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 0;
  }

  .footer-redes i {
    font-size: 20px;
    color: #f4e04d;
    transition: color 0.3s;
    margin-top: 10px;
  }

  .footer-redes i:hover {
    color: #ffffff;
  }

  .divider-footer {
    border-top: 1px solid #444;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media (min-width: 1301px) {
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto !important;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
    display: flex;
    gap: 1rem;
  }


  .navbar-expand-custom .navbar-nav .nav-item {
    display: block;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}
