$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Righteous", sans-serif;
$amarillo-principal: #f4e04d;
$amarillo-hover: #ffcc00;
$rojo-principal: #ba1f1f;
$rojo-secundario: #d43434;

@mixin link($color, $font-family){
  color: $color;
  font-family: $font-family;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9f5f0;
  color: #2e2e2e;
  line-height: 1.6;
}

.custom-link {
  @include link($amarillo-principal, $primary-font-family);
  color: $amarillo-principal !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  margin-left: 30px;

  &:hover {
    color: $amarillo-hover !important;
    text-shadow: 0 0 3px $amarillo-hover;
  }
}


.navbar-dark {
  .navbar-toggler-icon {
    filter: brightness(200%);
  }
}

.search-input {
  width: 300px !important;
}

.nav {
  a {
    color: $amarillo-principal;
    text-decoration: none;
    font-weight: 700;
    font-family: $primary-font-family;
    font-size: 18px;
    margin-left: 30px;

    &:hover {
      color: $amarillo-hover;
      text-shadow: 0 0 3px $amarillo-hover;
    }
  }
}

.logo {
  height: 100px;
  width: auto;
}

.nosotros {
  padding: 20px;
  max-width: 700px;
  margin: auto;

  h1 {
    font-family: "Righteous";
    font-size: 40px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }
}

.valores {
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .icono-valor {
    font-size: 40px;
    color: $rojo-principal;
    margin-bottom: 10px;
    transition: color 0.3s;

    &:hover {
      color: #e03939;
    }
  }

  h5 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
  }

  p {
    font-size: 18px;
    color: #aba7a7;
  }
}

.palabra-destacada {
  color: $rojo-principal;
}

.footer-vintage {
  background-color: #1c1c1c;
  color: #f4f1e9;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  font-size: 14px;

  .marca-footer {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: $amarillo-principal;
    margin-bottom: 5px;
  }

  .slogan-footer {
    font-style: italic;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 0;
  }

  .footer-redes {
    i {
      font-size: 20px;
      color: $amarillo-principal;
      transition: color 0.3s;
      margin-top: 10px;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .divider-footer {
    border-top: 1px solid #444;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1301px) {
  .navbar-expand-custom {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto !important;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
    }

    .navbar-nav {
      flex-direction: row;
      display: flex;
      gap: 1rem;

      .nav-item {
        display: block;
      }
    }

    .navbar-toggler {
      display: none;
    }
  }
}
