$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Righteous", sans-serif;
$amarillo-principal: #f4e04d;
$amarillo-hover: #ffcc00;
$rojo-principal: #ba1f1f;
$rojo-secundario: #d43434;

@mixin btn-base($bg-color, $text-color, $padding:12px 0){
  font-family: $primary-font-family;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: $padding;
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9f5f0;
  color: #2e2e2e;
  line-height: 1.6;
}

.navbar-expand-custom {
  .navbar-collapse {
    display: none !important;
    flex-basis: 100%;
    flex-grow: 1;

    &.collapse.show {
      display: block !important;
    }
  }

  .navbar-nav {
    flex-direction: row;
    display: flex;
    gap: 1rem;

    .nav-item {
      display: block;
    }
  }

  .navbar-toggler {
    &-icon {
      filter: brightness(200%);
    }

    @media (min-width: 1301px) {
      display: none;
    }
  }

  @media (min-width: 1301px) {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto !important;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
    }
  }
}

.custom-link {
  color: $amarillo-principal !important;
  text-decoration: none;
  font-weight: 700;
  font-family: $primary-font-family;
  font-size: 18px;
  margin-left: 30px;

  &:hover {
    color: $amarillo-hover !important;
    text-shadow: 0 0 3px $amarillo-hover;
  }
}

.nav {
  a {
    color: $amarillo-principal;
    text-decoration: none;
    font-weight: 700;
    font-family: $primary-font-family;
    font-size: 18px;
    margin-left: 30px;

    &:hover {
      color: $amarillo-hover;
      text-shadow: 0 0 3px $amarillo-hover;
    }
  }
}

.logo {
  height: 80px;
  width: auto;
}

.hero {
  &-title {
    font-family: $secondary-font-family;
    font-size: 60px;

    @media (max-width: 950px) {
      font-size: 35px;
    }
  }

  &-subtitle {
    font-family: $primary-font-family;
    font-weight: 100;
    font-size: 24px;
  }

  .row {
    @media (max-width: 950px) {
      flex-direction: column !important;
    }
  }

  .img-wrapper {
    max-width: 600px;
    width: 100%;
    position: relative;
  }

  .hero-album-img {
    max-width: 600px !important;
    width: 100% !important;
    height: auto !important;
  }
}

.linea-divisoria {
  width: 2px;
  height: 300px;
  background-color: #333;

  @media (max-width: 1300px) {
    display: none;
  }
}

.btn-comprar {
  @include btn-base($rojo-principal, white);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 10%;
  background-color: $rojo-principal;
  color: white;
  font-size: 16px;

  &:hover {
    background-color: $amarillo-principal;
    color: #2e2e2e;
  }
}

.destacados {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.tarjeta-disco {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    max-width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 12px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: $primary-font-family;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 16px;
    font-family: $primary-font-family;
    color: $rojo-secundario;
    margin-bottom: 8px;
  }

  p {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

.linea {
  height: 1px;
  background-color: #ccc;
  margin: 8px auto;
  width: 60%;
}

.btn-comprar-simple {
  @include btn-base($rojo-principal, white, 8px 16px);
  font-weight: 600;
  border-radius: 8px;
  background-color: $rojo-principal;
  color: white;
  &:hover {
    background-color: $amarillo-principal;
    color: #2e2e2e;
  }
}

.destacados-text {
  font-family: $secondary-font-family;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 100;
}

.marcas-title {
  font-family: $secondary-font-family;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 100;
}

.grayscale-logo {
  max-height: 50px;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    filter: none;
    opacity: 1;
    transform: scale(1.05);
  }
}

.footer-vintage {
  background-color: #1c1c1c;
  color: #f4f1e9;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  font-size: 14px;

  .marca-footer {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: $amarillo-principal;
    margin-bottom: 5px;
  }

  .slogan-footer {
    font-style: italic;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 0;
  }

  .footer-redes {
    i {
      font-size: 20px;
      color: $amarillo-principal;
      transition: color 0.3s;
      margin-top: 10px;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .divider-footer {
    border-top: 1px solid #444;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1300px) {
  .linea-divisoria {
    display: none;
  }
}